html {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 960px;
  margin: 0 auto;

}

/* Header */

.header {
  position: fixed;
  height: 2.82rem;
  background-color: black;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;

}
.header-info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.header h2 {
  font-size: 1rem;
}

/* Title */

.title-background {
  margin-top: 2.82rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
}
.title-box {

}
.title-text {
  
}

/* Menu */

.menu {

}
.nav {

}

/* Main */

.main {

}
.products {

}
.product-box {

}
.loc-hrs {

}
.loc-hrs-box {

}

/* Footer */

.footer {

}
