html {
  background-color: white;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
body {
  line-height: 1.4em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
  color: white;
}
header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}
.header-info {
  display: inline-flex;
  align-items: center;
}
header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
header h2 {
  font-size: 1rem;
}

/* Title */

.title-background {
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
}
.title-box {
  display: flex;
  background-color: black;
  width: 26rem;
  height: 9rem;
  text-align: left;
  margin-top: 9rem;
}
.title-text {
  align-items: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
}
.title-text h3 {
  font-size: 1rem;
  font-weight: bold;
}
.title-text h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* Menu */

.menu {

}
nav {

}

/* Main */

.main {

}
.products {

}
.product-box {

}
.loc-hrs {

}
.loc-hrs-box {

}

/* Footer */

footer {

}
